### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [42]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [44]:
# Number of Purchases
len(purchase_data)

780

## Player Count

* Display the total number of players

In [45]:
# Total number of players - counting only unique values
unique_SN = purchase_data.SN.nunique()
unique_SN

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# Using .rename(columns={}) in order to rename columns
renamed_df = purchase_data.rename(columns={"Purchase ID":"Purchase_ID", "Item ID":"Item_ID",'Item Name':'Item_Name' })
renamed_df.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [47]:
# Number of unique items
unique_Item_Name = renamed_df.Item_Name.nunique()
unique_Item_Name

179

In [48]:
# Average price
avg_price = renamed_df["Price"].mean()
round_avg = round(avg_price,2)
print(f'${round_avg}')

$3.05

In [49]:
# Number of Purchases
num_purchases = len(purchase_data)
num_purchases

780

In [50]:
# Total Revenue
revenue = purchase_data.Price.sum()
print(f'${revenue}')

$2379.77

In [51]:
# summary data frame
purchasing_analysis_summ = pd.DataFrame([unique_Item_Name, round_avg, num_purchases, revenue]).T
purchasing_analysis_summ.columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
purchasing_analysis_summ

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                   179.0           3.05                780.0        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
# Removing duplicates players
players_unique = renamed_df.loc[:, ['SN', 'Age', 'Gender']].drop_duplicates().reset_index(drop=True)
players_unique.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [53]:
# count_gender = renamed_df["Gender"].value_counts()
count_gender = players_unique.groupby('Gender').size()
count_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
dtype: int64

In [54]:
# Gender percentile
percent_gender = (players_unique.groupby('Gender').size()/players_unique['Gender'].count())*100
percent_gender_round = round(percent_gender,2)
percent_gender_round

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
dtype: float64

In [55]:
# Data frame with player counts and gender percentile
player_summ = pd.DataFrame(players_unique.groupby("Gender").size(), columns=["Count"])
player_summ["Percentage"] = percent_gender_round
player_summ

                       Count  Percentage
Gender
Female                    81       14.06
Male                     484       84.03
Other / Non-Disclosed     11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
# Purchase count by gender
gender_purch_cnt = purchase_data.groupby("Gender").size()
gender_purch_cnt

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [57]:
# Purchase average price by gender
gender_price_cnt = round((purchase_data.groupby("Gender").Price.mean()),2)
gender_price_cnt

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [58]:
# Total purchase by gender
gender_price_sum = purchase_data.groupby("Gender").Price.sum()
gender_price_sum

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [59]:
# Average total purchase per person
gender_purchase_avg = round((gender_price_sum / count_gender),2)
gender_purchase_avg

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [60]:
# Summary data frame
gender_purch_summ = pd.DataFrame([gender_purch_cnt, gender_price_cnt, gender_price_sum]).T
gender_purch_summ.columns = ["Total Purchases", "Average Purchases", "Sum Purchases"]
gender_purch_summ['Purchases by Player Avg'] = gender_purchase_avg

gender_purch_summ

,Total Purchases,Average Purchases,Sum Purchases,Purchases by Player Avg
Gender,,,,
Female,113.0,3.20,361.94,4.47
Male,652.0,3.02,1967.64,4.07
Other / Non-Disclosed,15.0,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [61]:
# Creating bins
bins = [0, 14, 16, 18, 20, 22, 24, 26, 29, 34, 39, 1000]

# Create the names for the five bins
group_names = ["<14", "15-16", "17-18", "19-20", "21-22", "23-24", "25-26", "27,29", "30-34","35-39", "40+"]

In [62]:
# Categorizing players into age bins
players_unique["AgeGroup"] = pd.cut(players_unique["Age"], bins, labels=group_names, include_lowest=True)
players_unique

                SN  Age  Gender AgeGroup
0          Lisim78   20    Male    19-20
1      Lisovynya38   40    Male      40+
2       Ithergue48   24    Male    23-24
3    Chamassasya86   24    Male    23-24
4        Iskosia90   23    Male    23-24
..             ...  ...     ...      ...
571         Hala31   21    Male    21-22
572     Jiskjask80   11    Male      <14
573     Aethedru70   21  Female    21-22
574     Yathecal72   20    Male    19-20
575        Sisur91    7    Male      <14

[576 rows x 4 columns]

In [63]:
# Summary data frame by AgeGroup Bins
player_summ2 = pd.DataFrame(players_unique.groupby("AgeGroup").size(), columns=["Count"])
player_summ2["Percentage"] = round((player_summ2["Count"] / len(players_unique) * 100),2)
player_summ2

          Count  Percentage
AgeGroup
<14          39        6.77
15-16        50        8.68
17-18        40        6.94
19-20        86       14.93
21-22        92       15.97
23-24        97       16.84
25-26        54        9.38
27,29        23        3.99
30-34        52        9.03
35-39        31        5.38
40+          12        2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
# Bin the renamed_df data frame by age
renamed_df["AgeGroup"] = pd.cut(renamed_df["Age"], bins, labels=group_names, include_lowest=True)
renamed_df.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price,AgeGroup
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-24
4,4,Iskosia90,23,Male,131,Fury,1.44,23-24

In [65]:
# Age Purchase count
age_purch_cnt = renamed_df.groupby("AgeGroup").size()
age_purch_cnt

AgeGroup
<14       51
15-16     65
17-18     48
19-20    122
21-22    132
23-24    134
25-26     73
27,29     28
30-34     73
35-39     41
40+       13
dtype: int64

In [66]:
# Average Purchase Price
age_price_cnt = round((renamed_df.groupby("AgeGroup").Price.mean()),2)
age_price_cnt

AgeGroup
<14      3.14
15-16    3.02
17-18    3.06
19-20    3.15
21-22    2.94
23-24    3.08
25-26    3.04
27,29    2.53
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [67]:
# Purchase total by Age Group
age_price_sum = renamed_df.groupby("AgeGroup").Price.sum()
age_price_sum

AgeGroup
<14      159.91
15-16    196.21
17-18    146.70
19-20    384.30
21-22    387.59
23-24    412.15
25-26    222.09
27,29     70.91
30-34    214.00
35-39    147.67
40+       38.24
Name: Price, dtype: float64

In [68]:
# Average purchase price per persone
avg_purchase_person = round((age_price_sum / player_summ2["Count"]),2)
avg_purchase_person

AgeGroup
<14      4.10
15-16    3.92
17-18    3.67
19-20    4.47
21-22    4.21
23-24    4.25
25-26    4.11
27,29    3.08
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [69]:
# summary data frame
age_purch_summ = pd.DataFrame([age_purch_cnt, age_price_cnt, age_price_sum]).T
age_purch_summ.columns = ["Total Purchases", "Average Purchases", "Sum Purchases"]
age_purch_summ['Purchases by Player Avg'] = avg_purchase_person
age_purch_summ

,Total Purchases,Average Purchases,Sum Purchases,Purchases by Player Avg
AgeGroup,,,,
<14,51.0,3.14,159.91,4.10
15-16,65.0,3.02,196.21,3.92
17-18,48.0,3.06,146.70,3.67
19-20,122.0,3.15,384.30,4.47
21-22,132.0,2.94,387.59,4.21
23-24,134.0,3.08,412.15,4.25
25-26,73.0,3.04,222.09,4.11
"27,29",28.0,2.53,70.91,3.08
30-34,73.0,2.93,214.00,4.12
35-39,41.0,3.60,147.67,4.76
40+,13.0,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
# Groupby sorted by SN
top_spender = renamed_df.groupby('SN')

In [71]:
# Purchase counts by person
purchase_counts = top_spender['SN'].count()
purchase_counts

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: SN, Length: 576, dtype: int64

In [72]:
# Average purchase by person
avg_purchase = round((top_spender['Price'].mean()),2)
avg_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [73]:
# total purchase per person
total_purchase = top_spender['Price'].sum()
total_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [74]:
# Summary data frame
top_spender_summ = pd.DataFrame([purchase_counts, avg_purchase, total_purchase]).T
top_spender_summ.columns = ["Total Purchases", "Average Purchases", "Sum Purchases"]
top_spender_summ.sort_values(by='Sum Purchases', ascending=False).head(5)

             Total Purchases  Average Purchases  Sum Purchases
SN
Lisosia93                5.0               3.79          18.96
Idastidru52              4.0               3.86          15.45
Chamjask73               3.0               4.61          13.83
Iral74                   4.0               3.40          13.62
Iskadarya95              3.0               4.37          13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [75]:
# Groupby for Item ID and Item Name
popular_item = renamed_df.groupby(['Item_ID', 'Item_Name'])

In [76]:
# Total items purchased by Item ID
item_count = popular_item['Item_ID'].count()
item_count

Item_ID  Item_Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item_ID, Length: 179, dtype: int64

In [77]:
# Item price amount
item_price = round((popular_item['Price'].mean()),2)
item_price

Item_ID  Item_Name
0        Splinter                                        1.28
1        Crucifer                                        2.94
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 179, dtype: float64

In [78]:
# Total revenue by item
sum_price = popular_item['Price'].sum()
sum_price

Item_ID  Item_Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [79]:
# summary data frame
popular_items_summ = pd.DataFrame([item_count, item_price, sum_price]).T
popular_items_summ.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
popular_items_summ.sort_values(by='Purchase Count', ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item_ID,Item_Name,,,
92,Final Critic,13.0,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
145,Fiery Glass Crusader,9.0,4.58,41.22
132,Persuasion,9.0,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [80]:
# summary data table, sorting by Total Purchase Value
popular_items_summ = pd.DataFrame([item_count, item_price, sum_price]).T
popular_items_summ.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
popular_items_summ.sort_values(by='Total Purchase Value', ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item_ID,Item_Name,,,
92,Final Critic,13.0,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
82,Nirvana,9.0,4.90,44.10
145,Fiery Glass Crusader,9.0,4.58,41.22
103,Singed Scalpel,8.0,4.35,34.80